SAP BO 4.2 Web API client/Serializers/parameters.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="parameter">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedByte" />
              <xs:element name="technicalName" type="xs:string" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="answer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="info">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="previous">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="cardinality" type="xs:string" use="required" />
                        <xs:attribute name="keepLastValues" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="values">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="constrained" type="xs:boolean" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="optional" type="xs:boolean" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
            <xs:attribute name="dpId" type="xs:string" use="required" />
            <xs:attribute name="primary" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>